@model RSWEBProekt_v1.ViewModels.EditCartViewModel

@{ 
    ViewBag.Title = "Edit cart entry";
}

<h3>Edit entry details for @ViewData["carName"]</h3>
<br />

<div class="row">
    <div class="col-md-12">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RequestPrice"></label>
                <input asp-for="RequestPrice" class="form-control" />
                <span asp-validation-for="RequestPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telephone"></label>
                <input asp-for="Telephone" class="form-control" />
                <span asp-validation-for="Telephone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MeetDate"></label>
                <input asp-for="MeetDate" class="form-control" />
                <span asp-validation-for="MeetDate" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="entryId" value="@ViewData["itemId"]" />
            <button type="submit" class="btn btn-primary">Finish edit</button>
        </form>
    </div>
</div>