

<div class="text-center">
    <a asp-action="Index" asp-controller="Home" class="btn btn-primary">Back to Home page</a>
    <h1 class="text-danger">Access denied</h1>
    <h6 class="text-danger"> You are not allowed to do such actions.</h6>
    <img src="~/images/slicemalo.jpg" style="height:800px; width:800px" />
</div>